{% extends "layout.html" %}
{% block body %}

<div class="container">

<div class="row">
  <div class="col-xs-8">
    <h1 class="page-header">
      <a href="{{ url_for("home",id="") }}"<font style="font-size:40px; color:#653A71"><strong>iPipet</strong></font><font style="font-size:26px"></font></a>
      </h1>
   </div>
   <div class="col-xs-4">
	<br/>
	<br/>
	<a href="http://erlichlab.wi.mit.edu/"><img src="{{ url_for("static", filename="logo_wibr.png") }}" /></a>
   </div>
</div>


<h3 class="page-header" style="color:#653A71">USAGE: </h3>
<font style="font-size:18px">
	<div class="row">
	<div class="col-xs-6">
		<p>Optimizing protocols for liquid-handling robots can be tedious for even simple tasks.</p>
		<p><strong>iPipet</strong> was originally developed for combinatorial pooling of hundreds of samples as an alternative to costly robots.</p>
		<p>We decided to make the program available to others who might have similar struggles.</p>
		<br/>
		<p><strong>iPipet can be used to transfer samples between plates.</strong> 
		<p><em>One example may be cherry picking samples from multiple "source" plates to a common "destination" plate.</em></p>
		<p><strong>It can also be used to illuminate wells of a single plate, ie. to dispense reagents or normalize samples.</strong></p>
	</div>
	<!-- link the image to the video -->
	<div class="col-xs-6"><img src="{{ url_for("static", filename="demo_img.png") }}" /> </div>
	</div>

<h3 class="page-header" style="color:#653A71">GETTING STARTED:</h3>
	<div class="row">1. If you haven't already, check out our <a href="{{ url_for("show",id="demolink") }}">demo</a> using a sample CSV file.</div>
	<br/>
	<div class="row">2. Otherwise, the first thing you need to do is create your own CSV file. This file <strong>must</strong> be correctly formatted.</div>
	<br/>
	<div class="row">
		<div class="col-xs-6"><em><p>The top plate on the screen (see above image) is the "source" plate and the bottinom plate is the "destination" plate.</p>
		<p>The well-numbering is incredibly important: wells must be numbered 1-96. Wells 1-8 correspond to wells A1, B1, C1 ... H1 <strong><em>NOT</strong></em> A1, A2, A3 ... A8.</p>
		<p>If your wells are not in this order, an easy solution is to sort the well columns in Excel so that they are in the correct order and then assign the appropriate number.</p> 
		<p>(Note that the header will be skipped so as long as the column order is correct you can name the columns whatever you'd like. Just make sure you do include a header in the file.)</p></em></div>
		</p>
		<br/>
		<div class="col-xs-6">
		<img src="{{ url_for("static", filename="csv_screenshot.png") }}" /></div>
	</div>
	<br/>
	<div class="row">To light up destination plate wells only, simply enter place holders in the source plate and source well columns (or vice versa if you prefer) in the CSV file:</div>
	<br/>
	<div class="row">
		<div class="col-xs-6"><em>Note that the volume column is empty here. If you do not need to pipet variable volumes, simply leave this column blank. If you do use the volume column, ALL cells must have a value. Simply use "0" as a placeholder if necessary.</em></div>
		<div class="col-xs-6"><img src="{{ url_for("static", filename="single_plate_screenshot.png") }}" /></div>
	</div>
	<br/>
	<div class="row">3. Once your CSV file is ready, go ahead and give your project a name and upload it on the <a href="{{ url_for("home",id="") }}">homepage.</a></div>
				<br/>
	<div class="row">4. You can provide an email if you'd like <strong>iPipet</strong> to send you the project link. Otherwise, feel free to leave this field blank. Just be sure to save your unique link. (It's easier to upload the file on a computer and open the link on your tablet.)</div>
	<br/>
	<div class="row">5. Click "SUBMIT CSV" at the bottom of the homepage. Then just make sure the wells of each plate line up with the plate diagram.</div>
	<p>(<em>A layer of plastic wrap over the tablet screen works well to prevent the plates from moving too much and still works with gloves.</em>)</p> 
	<br/>
	<div class="row">6. It is highly recommended to test the program before handling actual samples to be sure the design is correct.</div>
	<br/>
	<div class="row">7. Make sure you have all your plates and you're ready to go!</div>
<h3 class="page-header" style="color:#653A71"><em>Happy pipetting!<em></h3>
</font>
</div>
{% endblock %}
