<!DOCTYPE html>
<html>
  <head>
    <title>iPipet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<!--
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
-->
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}" >
    <link rel="stylesheet" href="{{ url_for("static", filename="pooling.css") }}" >
    <script src="{{ url_for("static", filename="jquery-2.0.3.min.js") }}"> </script>
    <script src="{{ url_for("static", filename="bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static", filename="d3.v3.min.js") }}"></script>
    <script src="{{ url_for("static", filename="d3_plate96.js") }}"></script>
</head>
<body id="runbody">
{% block body %}{% endblock %}
</body>
</html>
