{% extends "layout.html" %}
{# The 'runbody' tag will be applied to the <body> tag in the layout above. 
   In pooling.css, it has a black-background. #}
{% set body_tag_id = 'runbody' %}
{# The 'viewport_disable_zoom' adds a <meta> tag that prevents zooming on tablets #}
{% set viewport_disable_zoom = 1 %}
{% block body %}

<!-- Buttons (on the side - go here -->
<div id="buttons_bar">
	<div id="run_data_loading">
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  Loading CSV file...
	</div>

	<div id="run_start_button">
		<br/>
		Welcome!
		<br/>
		<br/>
		<button id="start_button" type="button" class="btn btn-lg btn-danger" onclick="start();">START</button>
	</div>


	<div id="run_prev_next_buttons">
		<button id="run_next_button" type="button" class="btn btn-lg btn-primary" onclick="move_step(1);">NEXT</button>
		<button id="run_prev_button" type="button" class="btn btn-lg btn-default" onclick="move_step(-1);">PREV</button>
		<div id="run_jump_div">
			<br/>
			<button type="button" class="btn btn-lg btn-info" onclick="jump_step();">JUMP</button>
			<br/>
			<input type="text" class=""  id="current_step" size="4" />
		</div>

		
	</div>

	<div id="run_replace_src_plate">
		Replace
		<br/>
		<span class="label label-success">SOURCE</span>
		<br/>
		with:
		<br/>
		<span class="label label-info" id="replace_src_plate_label_name">XXXXX</span>
		<br/>
		<br/>
		<button type="button" class="btn btn-lg btn-danger" onclick="source_plate_ok();">CONTINUE</button>
	</div>
	<div id="run_replace_dest_plate">
		Replace
		<br/>
		<span class="label label-success">DESTINATION</span>
		<br/>
		with
		<br/>
		<span class="label label-info" id="replace_dest_plate_label_name">XXXXX</span>
		<br/>
		<br/>
		<button type="button" class="btn btn-lg btn-danger" onclick="destination_plate_ok();">CONTINUE</button>
	</div>
	
	<div id="last_step_warning">
		DONE! (end of CSV)
	</div>
	
	<div id="volume_info">
		<br/>
		<h1 style="color:#AEEEEE"><span class="label label-info" id="volume_value" style="color:blue">XXXXX</span>&nbsp;ul</h1>
		<br/>
	</div>


</div> <!-- buttons bar -->


<!-- Plates go here -->
<div id="plates_bar">
	  <div id="src_plate_name"></div>
	  <br/>
	  <div id="src_plate"></div>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <div id="dst_plate"></div>
</div> <!-- plates bar -->

<script>

var plating_steps;
var prev_src_plate_name;
var prev_dst_plate_name;
var current_step = 0;

function flash_window()
{
    $("body").css("background","white");
    setTimeout(flash_window_off,750);
}

function flash_window_off()
{
    //Restore normalcy
    $("body").css("background","black");
}

function start()
{
    $("div#run_start_button").hide();
    prev_src_plate_name = "";
    prev_dst_plate_name = "";
    set_step(1);
}

function move_step(direction)
{
    var new_step = current_step + 
    {% if info.pipet_type == "single" %}
    			direction ;
    {% else %}
			direction * 8 ;
    {% endif %}
    set_step(new_step);
}

function jump_step()
{
    var new_step = $("#current_step").val();
    {% if info.pipet_type == "single" %}
    {% else %}
	new_step=(new_step-1)*8+1;			
    {% endif %}
    set_step(new_step);
}

function set_step(step)
{
    if (!isNaN(parseInt(step))) {
        step = parseInt(step);
        if (step >= 1 && step <= plating_steps.length) {
	    current_step = step ;
    	    $("#last_step_warning").hide();
        } else {
	    if (step >= plating_steps.length) {
		$("#last_step_warning").show();
	    }
	}
    }
{% if info.pipet_type == "single" %}
    $("#current_step").val(current_step);
 {% else %}
     $("#current_step").val(Math.floor(current_step/8)+1);
{% endif %}

    /* NOTE:
       The order&content of the fields is tightly-coupled
       to the python function 'load_plating_csv()' */
       /*
    var step_details = plating_steps[current_step-1];

    var step_num       = step_details[0];
    var src_well_num   = step_details[2];
    var src_well_name  = step_details[3];
    var dst_plate_name = step_details[4];
    var dst_well_num   = step_details[5];
    var dst_well_name  = step_details[6];
    var volume         = step_details[7];
    var specimen_name  = step_details[9];
*/
    reset_plate_wells("src_plate")
    reset_plate_wells("dst_plate")

    $("#volume_info").hide();
    $("div#run_prev_next_buttons").hide();
    check_replace_source_plate();
}

function check_replace_source_plate()
{
    var step_details = plating_steps[current_step-1];
    var src_plate_name = step_details[1];

    if ( src_plate_name === prev_src_plate_name ) {
        // Current Source Plate is OK (no need to replace it).
        $("div#run_replace_src_plate").hide();
        source_plate_ok();
    } else {
        //User need to replace source plate
        set_plate_alignment_mode("src_plate","{{ well_color }}");
        $("div#run_replace_src_plate").show();
        $("#replace_src_plate_label_name").text(src_plate_name);

        if (current_step>1) {
            //Don't flash the window if this is the first step
            flash_window();
        }
    }
}

function source_plate_ok()
{
    $("div#run_replace_src_plate").hide();

    var step_details = plating_steps[current_step-1];
    var src_plate_name = step_details[1];

    prev_src_plate_name = src_plate_name ;
    reset_plate_wells("src_plate");

    // When the source plate is OK, check the destination plate
    check_replace_destination_plate();
}

function check_replace_destination_plate()
{
    var step_details = plating_steps[current_step-1];
    var dst_plate_name = step_details[4];

    if ( dst_plate_name === prev_dst_plate_name ) {
        // Current Destination plate is OK (no need to replace it)
        $("div#run_replace_dest_plate").hide();
        destination_plate_ok();
    } else {
        set_plate_alignment_mode("dst_plate","{{ well_color }}");
        $("div#run_replace_dest_plate").show();
        $("#replace_dest_plate_label_name").text(dst_plate_name);
        if (current_step>1) {
            //Don't flash the window if this is the first step
            flash_window();
        }
    }
}

function destination_plate_ok()
{
    $("div#run_replace_dest_plate").hide();
    var step_details = plating_steps[current_step-1];
    var dst_plate_name = step_details[4];

    prev_dst_plate_name = dst_plate_name;
    reset_plate_wells("dst_plate");

    // When Destination Plate is OK,
    // show the wells to pipette

    show_step_wells();
}

function show_step_wells()
{
    // Show the next/prev buttons,
    // The user can pipette to his/hers heart's content
    $("div#run_prev_next_buttons").show();
    

{% if info.pipet_type =="single" %}
	    var step_details = plating_steps[current_step-1];
	    var src_well_name  = step_details[3];
	    var dst_well_name  = step_details[6];

	    reset_plate_wells("src_plate");
	    set_well_color("src_plate",src_well_name,"{{ well_color }}");

	    reset_plate_wells("dst_plate");
	    set_well_color("dst_plate",dst_well_name,"{{ well_color }}");
{% else %}
	    reset_plate_wells("src_plate");
	    reset_plate_wells("dst_plate");
	    for (var i = 0; i < 8; i++) {
		var step_details = plating_steps[current_step-1+i];
		var src_well_name  = step_details[3];
		var dst_well_name  = step_details[6];
		set_well_color("src_plate",src_well_name,"{{ well_color }}");
		set_well_color("dst_plate",dst_well_name,"{{ well_color }}");
	     }
{% endif %}
    
    /* Show the volume, if needed */
    if (step_details.length >= 8) {
	/* We have "volume" information, show the volume 'div' */
	$("#volume_info").show();
        $("#volume_value").text(step_details[7]);
    } else {
	$("#volume_info").hide();
    }
}


/* This (callback) function is called after
   the JSON data (with the plating steps) is loaded.

   It hides the "please wait" message,
   and shows the "Start button" message.
*/
function load_plate_data(json)
{
    plating_steps = json.data ;
    current_step = 0 ;
    $("div#run_data_loading").hide();
    $("div#run_start_button").show();
}

function recalc_sidebar_width()
{
	/* Calculate the width of the left-side bar (where the buttons are),
	   so that the plates will have enough space,
	   and will be aligned to the right side of the window.*/
	var plate_width_pixels = 11 * {{ dpi /2.54 }};
	var window_width_pixels = $(window).width();
	var window_height_pixels = $(window).height();
	var side_bar_border_width = 2 ;
	var side_bar_width_pixels = window_width_pixels - plate_width_pixels - side_bar_border_width ;
	$("div#buttons_bar").width(side_bar_width_pixels);
	$("div#buttons_bar").height(side_bar_height_pixels-10);
}

$(function(){

	window.onresize = recalc_sidebar_width;

	d3_generate_plate_data("src_plate", {{ dpi/2.54 }} );
	d3_generate_plate_data("dst_plate", {{ dpi/2.54 }} );

    $.getJSON("{{ data_url }}")
     .done(load_plate_data)
     .fail(function() {
            alert("Failed to get plating information (url = {{ data_url }})");
          });

	recalc_sidebar_width();
});

</script>

{% endblock %}
