{% extends "layout.html" %}
{% block body %}

<div class="splash-center">
	<a href="http://ipipet.teamerlich.org/home"><img src="{{ url_for("static", filename="splash_screen_scaled_900.png") }}" /></a>
	
	<div class="splash-title">
		<div class="splash-title-text">
			<div class="splash-title-text-main">
				iPipet
			</div>
			<div class="splash-title-text-sub">
				a smart benchtop tool
			</div>
		</div>
	
		<a class="btn-splash" href="{{ url_for("home") }}">&nbsp;</a>
	</div>
</div>


	
	
	
	
{% endblock %}
